.card {
  width: 274px;
  position: relative;
}
.imgWrap {
  width: 274px;
  height: 278px;
  overflow: hidden;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
}

.iconWrap {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon {
  width: 18px;
  height: 18px;
}
.blueIcon {
  fill: #3470ff;
  stroke: #3470ff;
}

.details {
  width: 274px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additionalInfo {
  display: flex;
  flex-wrap: wrap;
  width: 270px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
}
.additionalInfo p {
  display: inline-block;
  margin: 0;
}
.verticalLine {
  height: 16px;
  width: 1px;
  background-color: #1214171a;
  display: inline-block;
  margin: 0 6px;
}
.additionalInfoList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 10px;
  gap: 4px;
}
.cardBtn {
  width: 274px;
  padding: 12px 99px;
  color: white;
  background-color: #3470ff;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.cardBtn:hover,
.cardBtn:focus {
  background-color: #0b44cd;
}
