:root {
  --button-stroke-color: #000; 
}

.card {
  width: 274px;
  height: 426px;
  position: relative;
}
.imgWrap {
  width: 274px;
  height: 278px;
  overflow: hidden;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
}

.iconWrap {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon {
  width: 18px;
  height: 18px;
}
.blueIcon {
  fill: #3470ff;
  stroke: #3470ff;
}

.details {
  width: 274px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0 8px 0; 
}
.cardTitle {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cardTitlePrice {
  margin: 0;
  font-weight: 500;
}
.additionalInfo {
  color: rgba(18, 20, 23, 0.50);
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  max-height: 40px;
  margin-bottom: 28px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.additionalInfoListEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.additionalInfo p {
  display: inline-block;
  margin: 0;
}
.verticalLine {
  height: 16px;
  width: 1px;
  background-color: #1214171a;
  display: inline-block;
  margin: 0 6px;
}
.additionalInfoList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 10px;
  height: 40px;
  gap: 4px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardBtn {
  width: 274px;
  padding: 12px 99px;
  color: white;
  background-color: #3470ff;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.cardBtn:hover,
.cardBtn:focus {
  background-color: #0b44cd;
}

.errorDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.accent {
  color: #3470FF;
}